{% extends "portfolio/base.html" %} {% block title %}Blog List{% endblock %} {%
load static %} {% block content %}
<div class="container my-5">
  <h1 class="my-4 text-center">Blog Posts</h1>
  <p class="text-muted text-center mb-4">
    We have {{ blogs.count }} blog post{{ blogs.count|pluralize }} for you to
    explore.
  </p>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for blog in blogs %}
    <div class="col">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ blog.title }}</h5>
          <p class="card-text">
            {{ blog.description|truncatechars:100|striptags|safe }}
          </p>
        </div>
        <div class="card-footer bg-transparent">
          <small class="text-muted">
            Published on {{ blog.date|date:"M d, Y" }}
          </small>
          <a
            href="{% url 'blog:details' blog.id %}"
            class="btn btn-primary btn-sm float-end"
          >
            Read More
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
